<?xml version='1.0' encoding='UTF-8'?>
<app>
	<name>T-Frame work</name>
	<author>Tatar</author>
	<year>2017</year>
	<version>0.2</version>
	<url>http://127.0.0.1/T</url>
	<server>G:\T</server>
	<logfile></logfile>
	<status></status>
	<unsupportedBrowser></unsupportedBrowser>
	<database type='msqli'>
		<address>localhost</address>
		<db>test</db>
		<port>3306</port>
		<user>root</user>
		<password></password>
	</database>
</app>